.car-form-container {
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 20px;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.form {
  display: grid;
  gap: 10px;
}

label{
  width: 100%;

}

label input {
  float: right;
  width: 80%;
}

.label-input {
  display: grid;
  gap: 5px;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.label-input label {
  font-weight: bold;
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

