@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css */
@font-face {
    font-family: 'Modern';
    src: url(../src/assets/Font/ModernWarfare-8MM6z.ttf);
  }
  @font-face {
    font-family: 'Modernone';
    src: url(../src/assets/Font/ModernTechnoDemoVersionRegular-rgBWx.otf);
  }
  @font-face {
      font-family: 'Ubuntu';
      src: url('../src/assets/Font/Ubuntu-Regular.ttf') format('truetype');
    }
  @font-face {
      font-family: 'Bebase';
      src: url('../src/assets/Font/BebasNeue-Regular.ttf') format('truetype');
    }